div {
    position: absolute;
    top: 0px;
    left: 0px;
    background: red;
    width: 500px;
    height: 500px;
}

img {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 10px;
    top: 80px;
}

