div {    top: 0px;
    left: 0px;
    background: red;
    width: 250px;
    height: 250px;
    position: sticky;
    top: 0px;
    left: 0px;
}

img {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 10px;
    top: 80px;
}


.secondDiv {
    position: absolute;
}

article {
    width: 200px;
    text-align: left;
    text-align: right;
    position: absolute;
    top: 10px;
    margin-left: 400px;
}

p {
    text-align: left;
}

.secondParagraph {
    position: sticky;
    top: 0px;
    left: 0px;
    background: solid orange;
}